extends layout-with-browser

prepend content
    h2= path.name
    form(method="POST", class="via-ajax")
        label
            span(class="label-text")
                | Name
            input(name="path-name",value=path.name)
        button= "Save"

    ol(class="steps")
        each step in steps
            li
                div(class="step-body")
                    span(class="step-name") #{step.name}
                    ul(class="step-args")
                        each arg in Object.keys( step.args )
                            li
                                span(class="arg-name") #{arg}
                                span(class="arg-values") #{step.args[arg]}
                div(class="step-links")
                    a(class="step-url", href=step.url) Edit
                    a(class="delete-step-url", href=step.deleteUrl) Delete
                    
    form(method="POST", action="/paths/" + path.id + "/add-step")            
        label
            span(class="label-text")
                | Add a new step
            select(name="new-step")
                option
                each step in stepDefinitions
                    option(value=step.slug) #{step.name}
        button= "Configure..."

    form(method="POST", action="/paths/" + path.id + "/run", class="via-ajax")
        button= "Run"
        button(type="button",class="clear-button",data-selectors="#transcript,#outcome")= "Clear"
        
    ol(class="transcript path-transcript")
    div(class="outcome path-outcome")
